<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <targets>
    <target xsi:type="Console"
            name="LogConsole"></target>
    <!--<target xsi:type="ColoredConsole"
            name="LogConsole"
            encoding="Encoding"
            layout="Layout"
            header="Layout"
            footer="Layout"
            useDefaultRowHighlightingRules="Boolean"
            errorStream="Boolean"
            enableAnsiOutput="Boolean"
            detectConsoleAvailable="Boolean"
            detectOutputRedirected="Boolean">
      <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/>
      --><!-- repeated --><!--
      <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean"
                      regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/>
      --><!-- repeated --><!--
    </target>-->

    <target name="LogFile" xsi:type="File" fileName="Logs.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <logger name="*" minlevel="Trace" writeTo="LogConsole" />
  </rules>
</nlog>

<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>-->